<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="X2Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <X2Lib.Properties.Settings>
            <setting name="X2Lib_X2DotLoginService_Login" serializeAs="String">
                <value>http://192.168.1.132:82/loginservice.asmx</value>
            </setting>
        </X2Lib.Properties.Settings>
    </applicationSettings>
</configuration>